@import "tailwindcss";

@theme {
  --color-primary: #03063a;
  --color-green-primary: #E0F3CA;
  --color-orange-primary: #FFE9C2;
  --color-blue-primary: #C2EBFF;
  --color-green-secondary: #cadbb6;
  --color-orange-secondary: #e8d3ae;
  --color-blue-secondary: #b0d7eb;
}

@layer {
  .blue-gradient {
    @apply bg-gradient-to-t from-[#3298F4] to-[#62ACEF];
  }

  .red-gradient {
    @apply bg-gradient-to-t from-[#db4a4a] to-[#ee4242];
  }
}

.ReactModal__Content {
  @apply shadow-xl border-0
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
